<html>
  <head>
    <title>RESTful Chef</title>
    <!-- Include Ext and app-specific scripts: -->
    <script type="text/javascript" src="/js/ext/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/js/ext/ext-all-debug.js"></script>
    <script type="text/javascript" src="/js/grid.js"></script>
    
    <!-- Include Ext stylesheets here: -->

    <link rel="stylesheet" type="text/css" href="/js/ext/resources/css/ext-all.css">
  </head>
  <body>
    <div id="content">
      
    </div>

  </body>
</html>
